<%= form_for( [ @wine, @log_entry ] ) do |f| %>
  <%= render 'shared/validation_errors', object: @log_entry %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br />
  <%= f.label :rating %>  
  <% LogEntry::RATINGS.each do |ratings| %>
    <%= f.radio_button :rating, ratings %> <%= ratings %>
  <% end %><br />
  <%= f.label :comments %><br/>
  <%= f.text_area :comments %><br/>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', wine_log_entries_path(@wine), id: 'cancel_log_entry' %>
  </p>
  <br/>
  <p>
<%= f.label :tasted_on %>
<%= f.date_select :tasted_on %>
</p>

<% end %>