<header>Comments for <%= link_to(@wine.name, @wine) %></header>
<ol id="log_entries">
  <% @log_entries.each do |log_entry| %>
    <li>
      <span class="log_entry"><%= pluralize(log_entry.rating, 'rating') %></span>
      <span class="user">by <%= log_entry.name %> </span>
      <span class="tasted_on">tasted on
        <%= log_entry.tasted_on %> 
      </span>
      <p>
        &quot;<%= log_entry.comments %>&quot;
      </p>
    </li>
  <% end %>
</ol>
<%= link_to 'Provide a Rating', new_wine_log_entry_path(@wine), remote: true, data: {'update-target' => 'log_entry_form_container'},
class: 'btn btn-primary' %>

<div id="log_entry_form_container"></div>